html,
body {
    height: 100%;
    background-color: rgb(220, 223, 217);
    padding-bottom: 20px;
}

.container {
    display: grid;
    grid-template: 1fr 1f 1fr 1fr 1fr;
    background-color: rgb(231, 227, 235);
    padding-left: 45vw;
    padding-right: 46vw;
}

#welcome {
    display: grid;
    grid-template: 1fr 1f 1fr 1fr 1fr;
    background-color: rgb(28, 151, 124);
    align-content: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 30px;
    padding-top: 30px;
}

input {
    padding: 10px;
    font-size: medium;
    background-color: darkseagreen;
}

button:hover {
    color: rgb(64, 31, 153);
    padding: 10px;
    font-size: medium;
}